# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# --- Flask Instance Folder ---
instance/

# --- Configuración (SEGURIDAD) ---
.env

# --- Base de Datos Local ---
*.db
*.sqlite3

# --- Archivos de Sistema ---
.DS_Store
Thumbs.db

# --- Archivos de Usuario (Uploads) ---
static/uploads/*
!static/uploads/.gitkeep