body{
    margin: 0;
}

/*Navbar*/

#Navbar {
    background-color: #F5F2EE;
    width: 100%;
    height: 50px;
    line-height: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nav-Logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 210px;
}

#Brnd_Nm {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: x-large;
}

.Nav-Links {
    display: inline;
    float: left;
    line-height: 0px;
    text-align: center;
}

ul{
    list-style-type: none;
}

ul li {
    display: inline;
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

a:hover {
    color: #66D1C7;
    border-bottom-style: solid;
    height: 100px;
}

/*Index*/

#Main_Cnt{
    width: 100%;
    height: 100%;
    background-color: #F5F2EE;
}

.Ofertas {
    height: 500px;
    width: auto;
}

.Gll_Cnt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.Fltr_Cnt {
    background-color: #D9D9D9;
    width: 15%;
    height: auto;
    border-radius: 16px;
}

.Fltr_Ttl {
    padding: 10px;
    margin-left: 5px;
}

#Fltr {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.Filtros {
    height: auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

#fltr_bx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    border-color: #9b9b9b;
    border-bottom-style: solid;
    border-width: 1px;
}

#fltr_bx_last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

#fltr_txt {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

#Gll_Bk_Sec {
    width: 80%;
    height: auto;
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 60px;
    row-gap: 50px;
}

.Bk_Grd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    object-fit: fill;
}

#gll_bk {
    height: auto;
    width: auto;
}

/*Gallery*/

#Inv_Gll {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 16px;
    margin-left: 50px;
}

.Gall_grid {
    height: auto;
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: auto;
    row-gap: 50px;
    padding: 150px;
}

.Usr_Bx {
    background-color: #D9D9D9;
    height: auto;
    width: auto;
    display: flex;
    border-radius: 16px;
    padding: 15px;
}

.User_Info {
    align-items: center;
    justify-content: space-between;
}

.User_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#User_Name {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.User_Coll {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Book_grid {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
}

.Usr_Bk_Grd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    object-fit: fill;
}

.Usr_Bk {
    height: auto;
    width: auto;
}

.More {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 12px;
}


/*Contact*/

/*SingIn*/

/*SingnUp*/

    /*font-family: "Poppins", sans-serif;*/

/*Recibo*/
#receipt_cont{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #ffffff, #45c1be, #3a56a6);
    align-content: center;
}
#recibo{
    width: 25%;
    height: auto;
    margin: 50px auto;
    padding: 25px;
    border-radius: 25px;
    background-color: rgba(245, 245, 245, 0.897);
    box-shadow: rgba(0, 0, 0, 0.438) 13px 13px 10px;

    text-align: center;
    color: #2e2e2e;

   font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.fecha_entrega_pedido{
    color: #25a9a7;
}

.link_contacto a{
    text-decoration:underline;
}

.btn_regresar{
    width: 80%;
    background-color: #3a56a6;
    padding: 15px;
    border-radius: 20px;
    color: whitesmoke;
    border: none;
    margin-top: 20px;
}
.btn_regresar:hover{
    transition:ease-in-out .4s;
    scale: 1.1;
}

/*Libro*/

#cont_book{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    align-content: center;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#contenedor_principal{
    width: 55%;
    height: auto;
    margin: 40px auto;
    padding: 20px;

    background-color: #d2d1d187;
    border-radius: 25px;
}


#cont_book_part1{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
}

#img_book{
    margin: 10px;
    padding: 20px;
    text-align: center;
    align-content: center;
}

#info_principal_libro{
    text-align: center;
    margin: 10px;
    padding: 20px;


}

#info{
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    padding: 15px;   
}
#info_basica{
    text-align: end;
    margin: 10px;
}
#info_precio{
    text-align: start;
    margin: 10px;
    color:#3a56a6;
    text-decoration: underline;
    font-size: 120%;
}

#btn_agregar{
    text-align: center;
    margin: 20px;
}



#cont_book_part2{
    display: grid;
    grid-template-columns: 30% 70%;
}

#info_secundaria_libro{
    background-color: #b5b5b5;
    margin: 10px;
    padding: 20px;

    border-radius: 25px;
    color: whitesmoke;
    text-align: center;
}
#datos{
    text-align: start;
    padding: 20px;
}

#comentarios{
    height: 400px;
    background-color: rgba(245, 245, 245, 0.669);
    margin: 10px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    overflow:scroll;
}

.plantilla_comentario{
    width: 90%;
    height: auto;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 25px;
    margin: 25px auto;
}
.comentador{
    display: flex;  
    align-content: center; 
    padding: 2px;
}
.img_usuario{
    width: 50px;
    padding: 5px;
    text-align: center;
}
.img_usuario img{
    width: 100%;
}

.comentador p{
    align-content: center;
    margin-left: 5px;
}

.texto_comentario{
    text-align: start;
    padding: 10px;
}

.coment
{
    border: none;
    background-color: rgb(228, 228, 228);
    border-radius: 25px;
    padding: 15px;
}

#sinopsis{
    background-color: #b5b5b5;
    margin: 10px;
    padding: 20px;

    border-radius: 25px;
    color: whitesmoke;
    text-align: center;
}

/*Perfil usuario*/
.User{
    width: 60%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    padding: 20px;
    margin: 50px auto;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.User-PFP{
    text-align: center;
    align-content: center;
    padding: 10px;
}

.User-PFP img{
    width: 100%;
}

.User-Data{
    padding: 40px;
}

.User-Foll-Loc{
    display: grid;
    grid-template-columns: auto auto;
}
.Foll{
    text-align: start;
}

.Loc{
    width: 50%;
    display:grid;
    grid-template-columns: 20% 80%;
    margin: auto;
}
.Loc p{
    padding: 5px;
}
.icon_loc{
    width: 100%;
    align-content: center;
}
.icon_loc img{
    width: 100%;
}


.User-Favs{
    display: grid;
    grid-template-rows: 80% 20%;
    text-align: center;
    padding: 20px;

}

.User-Fav-Book{
    width: 60%;
    background-color: #e3e3e3d0;
    border-radius: 25px;
    margin: auto;
}

.User-Sale{
    width: 60%;
    margin: auto;
   padding: 20px;
   font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Sale-Books{
    width: 85%;
    background-color: #e3e3e3d0;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin: auto;
}
.Sale-Books-grid{
    display:grid;
    grid-template-columns: auto auto auto auto;
}

.Book{
    width: 80%;
    margin: auto;
}

.Book img{
    width: 100%;
}

/*Nosotros*/
.Ab-Con{
    background-color: #def6f5;
    width: 100%;
    height: 100%;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img_con{
    width: 100%;
    height: 500px;

    background-image: 
    linear-gradient(#3a57a69f, #45c1bf92),
    url("/static/assets/img/libreria-interior-credit.jpg");

    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
}


.img_con img{
    width: 15%;
    margin: 20px;
}

.curva{
    width: 110%;
    height: 100px;

    background: #def6f5;

    border-radius: 80% 80% 0 0;
    margin-left: -10%;
    margin-top: -80px;

    position: relative;
    z-index: 2;
}


.Who{
    width: 70%;
    height: auto;
    
    position: relative;
    z-index: 3;

    padding: 40px;
    margin: 0 auto;

}

.Who:hover{
    transition:ease-in-out .4s;
    scale: 1.1;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.712) 4px 4px 10px;
}

.Mis-Vis{
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}


.Mision{
    background-color:#45c1bf70;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}

.Mision:hover{
    transition:ease-in-out .4s;
    scale: 1.1;
    rotate: 7deg;
    box-shadow: rgba(0, 0, 0, 0.712) 4px 4px 10px;

}

.Vision{
    background-color: #45c1bf70;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}

.Vision:hover{
    transition:ease-in-out .4s;
    scale: 1.1;
    rotate: -7deg;
    box-shadow: rgba(0, 0, 0, 0.712) 4px 4px 10px;
}
