{% extends "NavBar.html" %}

{% block title %}About{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Ab-Con">

        <section class="img_con">
            
        </section>

        <div class="curva"></div>

        <section class="Who">
            <h1>¿Quiénes somos?</h1>
            <p>PescaLibros es una plataforma digital enfocada en la compra y venta de libros físicos y digitales, creada para conectar a lectores en un entorno accesible, seguro e interactivo. Nuestro objetivo es facilitar el acceso a la literatura y al conocimiento mediante herramientas modernas que permitan descubrir, recomendar y compartir contenido entre usuarios.</p>
            <p>Además de funcionar como una librería digital, PescaLibros integra funciones sociales que fortalecen la comunidad lectora, fomentando la interacción entre personas con intereses literarios similares. La plataforma está diseñada para lectores frecuentes, personas que desean iniciar o retomar el hábito de la lectura, así como estudiantes, docentes e investigadores que buscan materiales confiables y accesibles.</p>
        
        </section>

        <section class="Mis-Vis">
            <article class="Mision">
                <h1>Misión</h1>
                <p>Brindar una plataforma digital segura, accesible e innovadora para la compra y venta de libros físicos y digitales, promoviendo la lectura y la interacción social entre usuarios mediante recomendaciones, descubrimiento de contenido y acceso confiable al conocimiento.</p>
            </article>
            <article class="Vision">
                <h1>Visión</h1>
                <p>Ser una plataforma líder en el acceso y distribución de material literario en formato físico y digital, reconocida por crear una comunidad lectora activa y por ofrecer una experiencia confiable, accesible y enriquecedora para lectores, estudiantes y profesionales.</p>
            </article>
        </section>

        
    </div>
</body>
</html>

{% endblock %}