{% extends "NavBar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="User">
        <div class="User-PFP">
            <img src="">
        </div>
        <div class="User-Data">
            <h2>Nombre</h2>
            <div class="Data-Grid">
                <div class="User-Foll">
                    <p>Seguidores</p>
                </div>
                <div class="User-Loc">
                    <p>CHIH, MEX</p>
                </div>
            </div>
            <div class="User-Des">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>

        <div class="User-Favs">
            <div class="User-Fav-Book">
                <img src="">
            </div>
            <p>Favoritos</p>
        </div>
    </div>

    <div class="User-Sale">
        <h1>Libros que vende</h1>
        <div class="Sale-Books">
            <div class="Sale-Books-grid">
                 <div class="Book">
                    <img src>
                </div>
                <div class="Book">
                    <img src>
                </div>
                <div class="Book">
                    <img src>
                </div>
                <div class="Book">
                    <img src>
                </div>
                <div class="Book">
                    <img src>
                </div>
            </div>
        </div>
    </div>
</body>
</html>