{% extends "NavBar.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="Serch">
    </div>

    <h1>Descubre quien tiene tus mismos gustos</h1>

    <div class="Gall-grid">
        <div class="Box">
            <div class="User-info">

                <div class="User-icon">
                </div>
                <div class="User-name">
                    <p></p>
                </div>
                
            </div>

            <div class="User-Coll">

                <div class="User-Books">
                    <div class="Book-grid">
                        <div class="Book">
                            <img src>
                        </div>
                        <div class="Book">
                            <img src>
                        </div>
                        <div class="Book">
                            <img src>
                        </div>
                        <div class="Book">
                            <img src>
                        </div>
                        <div class="Book">
                            <img src>
                        </div>
                    </div>
                </div>
                <div class="Book-text">
                    <p>Ver más...</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

{% endblock %}