{% extends "NavBar.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="Serch">
    </div>

    <h1 id="Inv_Gll">Descubre quien tiene tus mismos gustos</h1>

    <div class="Gall_grid">
        <div class="Usr_Bx">
            <div class="User_Info">

                <div class="User_icon">
                    <img src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png" alt="User"
                    height="100px" width="auto">
                    <p id="User_Name">Usuario</p>
                </div>
                
            </div>

            <div class="User_Coll">

                <div class="Book_grid">

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://m.media-amazon.com/images/I/51goyLzHEJL.jpg" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSZshEZvzOUFgdzYdvEpAjRNv14eo9-6Y5aQmvBHDWdxUIk_aOUmSPWCucgoj9LZz9NmQsqmLKZfLwBbac4s0r8ZuRvZo5u" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQITxajWHn3zvUPXj9GAsH-C8-1PNHyS3o0XrqGWTYk85f5IdKlcF1tr2ejh9Ynh9y1g6vrCS_WiLXzd8RB5K8knwaoGWe2bO5XGACOAXp9Ve45w6bO9Vlzig" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTqGuQV6t5gARW0iAB_HKT3IuUal87cmmd2OstNRRMKudsojEjVVbhPX04OuRtrEevDUELIAfnJpexrcLCC-Cjw7tiDGEytmoUhqo_wHXRhpTHG6_X6vckpTQ" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRWRyMTfuL-FTppLRnVAtCt1T-4uo__aroiqfh09ouVJhfmI8DO9HbArQaJwTbCQ4f7nmTWEkcgsUr2OZbsKDntO0e-iN_YIPy8XrH_dE3p" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                </div>

                <div class="More">
                    <p>Ver más...</p>
                </div>
            </div>
        </div>

        
        <div class="Usr_Bx">
            <div class="User_Info">

                <div class="User_icon">
                    <img src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png" alt="User"
                    height="100px" width="auto">
                    <p id="User_Name">Usuario</p>
                </div>
                
            </div>

            <div class="User_Coll">

                <div class="Book_grid">

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://m.media-amazon.com/images/I/51goyLzHEJL.jpg" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSZshEZvzOUFgdzYdvEpAjRNv14eo9-6Y5aQmvBHDWdxUIk_aOUmSPWCucgoj9LZz9NmQsqmLKZfLwBbac4s0r8ZuRvZo5u" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQITxajWHn3zvUPXj9GAsH-C8-1PNHyS3o0XrqGWTYk85f5IdKlcF1tr2ejh9Ynh9y1g6vrCS_WiLXzd8RB5K8knwaoGWe2bO5XGACOAXp9Ve45w6bO9Vlzig" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTqGuQV6t5gARW0iAB_HKT3IuUal87cmmd2OstNRRMKudsojEjVVbhPX04OuRtrEevDUELIAfnJpexrcLCC-Cjw7tiDGEytmoUhqo_wHXRhpTHG6_X6vckpTQ" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRWRyMTfuL-FTppLRnVAtCt1T-4uo__aroiqfh09ouVJhfmI8DO9HbArQaJwTbCQ4f7nmTWEkcgsUr2OZbsKDntO0e-iN_YIPy8XrH_dE3p" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                </div>

                <div class="More">
                    <p>Ver más...</p>
                </div>
            </div>
        </div>

        
        <div class="Usr_Bx">
            <div class="User_Info">

                <div class="User_icon">
                    <img src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png" alt="User"
                    height="100px" width="auto">
                    <p id="User_Name">Usuario</p>
                </div>
                
            </div>

            <div class="User_Coll">

                <div class="Book_grid">

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://m.media-amazon.com/images/I/51goyLzHEJL.jpg" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSZshEZvzOUFgdzYdvEpAjRNv14eo9-6Y5aQmvBHDWdxUIk_aOUmSPWCucgoj9LZz9NmQsqmLKZfLwBbac4s0r8ZuRvZo5u" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQITxajWHn3zvUPXj9GAsH-C8-1PNHyS3o0XrqGWTYk85f5IdKlcF1tr2ejh9Ynh9y1g6vrCS_WiLXzd8RB5K8knwaoGWe2bO5XGACOAXp9Ve45w6bO9Vlzig" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTqGuQV6t5gARW0iAB_HKT3IuUal87cmmd2OstNRRMKudsojEjVVbhPX04OuRtrEevDUELIAfnJpexrcLCC-Cjw7tiDGEytmoUhqo_wHXRhpTHG6_X6vckpTQ" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                    <div class="Usr_Bk_Grd">
                        <div class="Usr_Bk">
                            <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRWRyMTfuL-FTppLRnVAtCt1T-4uo__aroiqfh09ouVJhfmI8DO9HbArQaJwTbCQ4f7nmTWEkcgsUr2OZbsKDntO0e-iN_YIPy8XrH_dE3p" alt="Libro"
                            height="auto" width="80px">
                        </div>
                    </div>

                </div>

                <div class="More">
                    <p>Ver más...</p>
                </div>
            </div>
        </div>




    </div>

    

</body>
</html>

{% endblock %}