{% extends "NavBar.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="Main_Cnt">
        <div class="Ofertas">
            <img src="https://wallpapers.com/images/hd/library-filled-with-books-vyy56lqa9wji657j.jpg"
            alt="Libros" width="100%" height="100%">
        </div>

        <div class="Gll_Cnt">

            <aside class="Fltr_Cnt">
                <div class="Fltr_Ttl">
                    <p id="Fltr">Filtrar</p>
                </div>

                <div class="Filtros">
                    <div id="fltr_bx">
                        <p id="fltr_txt">Género</p>
                        <img src="/static/assets/icons/Flecha@4x.png" height="12px" width="auto">
                    </div>
                    <div id="fltr_bx">
                        <p id="fltr_txt">Formato</p>
                        <img src="/static/assets/icons/Flecha@4x.png" height="12px" width="auto">
                    </div>
                    <div id="fltr_bx">
                        <p id="fltr_txt">Precio</p>
                        <img src="/static/assets/icons/Flecha@4x.png" height="12px" width="auto">
                    </div>
                    <div id="fltr_bx">
                        <p id="fltr_txt">Contenido</p>
                        <img src="/static/assets/icons/Flecha@4x.png" height="12px" width="auto">
                    </div>
                    <div id="fltr_bx_last">
                        <p id="fltr_txt">Idioma</p>
                        <img src="/static/assets/icons/Flecha@4x.png" height="12px" width="auto">
                    </div>
                </div>
            </aside>
            
            <section id="Gll_Bk_Sec">

                    <div class="Bk_Grd">
                        <div id="gll_bk">
                            <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTqGuQV6t5gARW0iAB_HKT3IuUal87cmmd2OstNRRMKudsojEjVVbhPX04OuRtrEevDUELIAfnJpexrcLCC-Cjw7tiDGEytmoUhqo_wHXRhpTHG6_X6vckpTQ" alt="Libro"
                            height="auto" width="150px">
                        </div>
                    </div>

                    <div class="Bk_Grd">
                        <div id="gll_bk">
                            <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSZshEZvzOUFgdzYdvEpAjRNv14eo9-6Y5aQmvBHDWdxUIk_aOUmSPWCucgoj9LZz9NmQsqmLKZfLwBbac4s0r8ZuRvZo5u" alt="Libro"
                            height="auto" width="150px">
                        </div>
                    </div>

                    <div class="Bk_Grd">
                        <div id="gll_bk">
                            <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQITxajWHn3zvUPXj9GAsH-C8-1PNHyS3o0XrqGWTYk85f5IdKlcF1tr2ejh9Ynh9y1g6vrCS_WiLXzd8RB5K8knwaoGWe2bO5XGACOAXp9Ve45w6bO9Vlzig" alt="Libro"
                            height="auto" width="150px">
                        </div>
                    </div>

                    <div class="Bk_Grd">
                        <div id="gll_bk">
                            <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcSGQ-Gyco3p3QrCNS2cT3VpeaCP-JZQpbobcfJsoaRDfRKYDLfoxWszUP__4hpyxFqatHNEgn2vUy-7FTHQmXu9g1xizz9Rs-C9ek0VYKpcMhyrUQVJ7Hxwqg" alt="Libro"
                            height="auto" width="150px">
                        </div>
                    </div>

                    <div class="Bk_Grd">
                        <div id="gll_bk">
                            <img src="https://cdn.kobo.com/book-images/Images/2c05cce6-392a-4056-a7cf-7eb796b34855/300/300/False/image.jpg" alt="Libro"
                            height="auto" width="150px">
                        </div>
                    </div>

                    <div class="Bk_Grd">
                        <div id="gll_bk">
                            <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRWRyMTfuL-FTppLRnVAtCt1T-4uo__aroiqfh09ouVJhfmI8DO9HbArQaJwTbCQ4f7nmTWEkcgsUr2OZbsKDntO0e-iN_YIPy8XrH_dE3p" alt="Libro"
                            height="auto" width="150px">
                        </div>
                    </div>

                    <div class="Bk_Grd">
                        <div id="gll_bk">
                            <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQNG8wywUzvaRP5wxUJffQe-2u2419-I5Lox8VhaS-94atr1o1eLHAQ8H9BZ2Nd-ve5WuXvU3Au0xhl7d1zkRKzr27kSbmfZ4IAnSOPW-I3fOBO2p1hxgru" alt="Libro"
                            hheight="auto" width="150px">
                        </div>
                    </div>
                
            </section>

        </div>
    </div>
</body>
</html>

{% endblock %}