{% extends "NavBar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="container">

        <div class="Ofertas">
            <img src="">
        </div>

        <aside class="Filtro">
        </aside>
        
        <section id="Content">

            <div class="Serch">
            </div>

            <article class="Contenido">
            </article>

        </section>
    </div>
</body>
</html>