{% extends "NavBar.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="Main_Cnt">
        <div class="Ofertas">
            <img src="https://wallpapers.com/images/hd/library-filled-with-books-vyy56lqa9wji657j.jpg"
            alt="Libros" width="100%" height="100%">
        </div>

        <div class="Gll_Cnt">

            <aside class="Fltr_Cnt">
                <div class="Fltr_Ttl">
                    <p id="Fltr">Filtrar</p>
                </div>

                <div class="Filtros">
                    <div id="fltr_bx">
                        <p id="fltr_txt">Género</p>
                        <img src="/static/assets/icons/Flecha@4x.png" height="12px" width="auto">
                    </div>
                    <div id="fltr_bx">
                        <p id="fltr_txt">Formato</p>
                        <img src="/static/assets/icons/Flecha@4x.png" height="12px" width="auto">
                    </div>
                    <div id="fltr_bx">
                        <p id="fltr_txt">Precio</p>
                        <img src="/static/assets/icons/Flecha@4x.png" height="12px" width="auto">
                    </div>
                    <div id="fltr_bx">
                        <p id="fltr_txt">Contenido</p>
                        <img src="/static/assets/icons/Flecha@4x.png" height="12px" width="auto">
                    </div>
                    <div id="fltr_bx_last">
                        <p id="fltr_txt">Idioma</p>
                        <img src="/static/assets/icons/Flecha@4x.png" height="12px" width="auto">
                    </div>
                </div>
            </aside>
            
            <section id="Gll_Bk_Sec">
                {% for libro in libros %}

                <div class="Bk_Grd">

                    <div id="gll_bk">

                        <a href="{{ url_for('detalle_libro', libro_id=libro.id_libro) }}">

                            <img
                                src="{{ libro.portada }}"
                                alt="{{ libro.nombre_libro }}"
                                width="150px"
                            >

                        </a>

                        <h3>{{ libro.nombre_libro }}</h3>

                        <p>{{ libro.autor }}</p>

                        <p>${{ libro.precio }}</p>

                    </div>

                </div>

                {% endfor %}
                
            </section>

        </div>
    </div>
</body>
</html>

{% endblock %}