<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav id="Navbar">
        <div class="Nav-Logo">
            <img src="">
        </div>
        <div class="Nav-Links">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/gallery.html">Galeria</a></li>
                <li><a href="/about.html">Nosotros</a></li>
                <li><a href="/contact.html">Contacto</a></li>
                <li><a href="/shelf.html">Librero</a></li>
                <li><a href="/signIn.html">Iniciar Sesión</a></li>
            </ul>
        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>