<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav id="Navbar">
        <div class="Nav-Logo">
            <img src="/static/assets/icons/Logo_pescaLibros.png" height="30px" width="30px">
            <p id="Brnd_Nm">Pesca Libros</p>
        </div>
        <div class="Nav-Links">
            <ul>
                <li></li>
                <li><a href="/" id="Nav_Lnk">Inicio</a></li>
                <li><a href="/gallery.html" id="Nav_Lnk">Galeria</a></li>
                <li><a href="/about" id="Nav_Lnk">Nosotros</a></li>
                <li><a href="/contacto" id="Nav_Lnk">Contacto</a></li>
                <li><a href="/shelf.html" id="Nav_Lnk">Librero</a></li>
                <li><a href="/signin.html" id="Nav_Lnk">Iniciar Sesión</a></li>
                <li><a href="/signup.html" id="Nav_Lnk">Registrarse</a></li>
            </ul>
        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>