

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body id="Log_Body">
   <div class="Ssn_Center">
    <div id="Ssn_Cnt">
        <div class="Logo-Sess">
            <img src="{{ url_for('static', filename='assets/icons/Logo_pescaLibros.png') }}" alt="Logo" height="100px" width="100px">
        </div>

        <p class="Log_Ttx">Regístrate</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert-container" style="color: red; margin-bottom: 15px; text-align: center;">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form action="/signup.html" method="POST">

            <div class="form-group">
                <p class="Log_txt">Nombre de usuario</p>
                <input type="text" id="nombre_usuario" name="nombre_usuario" required autofocus>
            </div>

            <div class="form-group">
                <p class="Log_txt">Fecha de nacimiento</p>
                <input type="date" id="fecha_registro" name="fecha_registro" required>
            </div>

            <div class="form-group">
                <p class="Log_txt">Correo electrónico</p>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <p class="Log_txt">Contraseña</p>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="Lwr_Log">
                <div class="Log_Btn">
                    <input class="submit" type="submit" value="Ingresar">
                </div>

                <div class="Reg_Lnk">
                    <p id="No_Acc_Txt">¿Tienes cuenta? </p>
                    <a href="/signin.html" id="Log_Lnk"> Iniciar Sesión</a>
                </div>
            </div>
        </form>
    </div>
  </div>
</body>
</html>

{% endblock %}
